* {
  box-sizing: border-box;
}

body {
    background-image: linear-gradient(to bottom right,white,#bfbfbf);
    background-color: #bfbfbf;
    margin: 0;
    font-family: Droid Sans;
}

#header {
    height: 180px;
    background-image: linear-gradient(to bottom right,powderblue,#4CAF50);
    padding: 1px;
    text-align: center;
}
#header h1{
    font-size: 2.2em;
}

.navbar {
  background-color:#333;
  overflow: hidden;
}

/* Style the topnav links */
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 5px 16px;
  text-decoration: none;
}

.navbar a:hover {
  background-color: #fff;
  color: black;
}

.navlist {
    background-image: linear-gradient(to top ,powderblue,powderred);
}

.content {
    width: 80%;
    float: left;
    margin: 20px;
    height:500px;
    border-right: 1px solid grey;

    margin-top: 10px;
    font-family: Droid Sans;
    padding: 10px;
    text-align: center;
}
