<link rel="stylesheet" href="{{ get_url(path="winter.css") }}" />

<a href="/">
    <div class="winter-wrapper">
        <div class="winter">
            <div class="logo">
                <div class="snow snow-near"></div>
                <div class="snow snow-near snow-alt"></div>
                <div class="snow snow-mid"></div>
                <div class="snow snow-mid snow-alt"></div>
                <div class="snow snow-far"></div>
                <div class="snow snow-far snow-alt"></div>

                <img alt="Home" class="logo" src="/logo.png" />
            </div>
        </div>
    </div>
</a>
